* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;

}

.hero-bg {
  background-color: #1f2937;
  padding: 0 15% 150px 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.header-links li {
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text button {
  width: fit-content;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  margin-top: 10px;
  border-style: none;
  border-radius: 10px;
  padding: 8px 35px;
}

.hero-img {
  background-color: #6d747d;
  color: #e5e7eb;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-bg {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
}

.info-bg h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-container {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

.info-card {
  display: flex;
  width: 150px;
  flex-direction: column;
  gap: 8px;
}

.info-img {
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.info-text {
  flex-grow: 0;
  text-align: center;
  color: #1f2937;
}

.quote-bg {
  display: flex;
  padding: 150px 15%;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 5px;
}

.quote-container h2 {
  font-size: 36px;
  font-weight: 300;
}

.quote-container h6 {
  font-size: 24px;
  text-align: right;
}

.banner-bg {
  padding: 150px 15%;
  display: flex;
  justify-content: center;
}

.banner {
  width: 1000px;
  padding: 50px 100px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.wrapper h5 {
  font-size: 24px;
}

.wrapper p {
  font-weight: 400;
}

.banner button {
  height: fit-content;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 35px;
}

.footer {
  background-color: #1f2937;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #f9faf8;
}
